.home-page {
    display: flex;
    flex-direction: column;

    margin: 2em 16%;
    min-height: 20em;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0 0.7em 0;
    background-color: white;
    gap: 1em;
}

.nav-bar button {
    border: none;
    background-color: inherit;
    color: var(--main-grey);
    font-size: 1.5em;
    padding: 0 0 0.2em;
}

.nav-bar button[active="true"] {
    border-bottom: 0.2em solid var(--main-color);
}

.nav-bar button[active="false"] {
    border-bottom: 0.2em solid transparent;
}

.nav-bar button:hover {
    cursor: pointer;
}

.panel .sub-header {
    margin: 0.3em 0 1.5em 0;
    padding-bottom: 0.6em;
    border-bottom: 0.09em solid var(--light-grey-opaque);
}

.panel-list {
    list-style: none;
    padding: 0;
}

.panel-list > li {
    margin-top: 1em;
}

.card {
    padding: 1.4em;
    display: grid;
    grid-template-columns: 12em 5fr;
    justify-content: center;
    align-items:flex-start;
    gap: 0.8em;
    border-radius: var(--border-radius);

    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}


.preview-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.8em;
}

.preview-image {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.card-info > p {
    margin: 0.5em 0;
}

.card-info > p.date-line {
    text-transform: uppercase;
    color: var(--main-color);
}

.card-info > p.name {
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.card-info > p.group-info {
    margin-bottom: 1.2em;
}

.card-info > p.attending-count {
    text-align: right;
    color: var(--light-grey);
}
