.home-page {
    display: flex;
    margin: 2.2em 0;
    align-items: center;
    flex-direction: column;
}

.home-container {
    width: 700px;
    min-height: 20em;
    padding: 0 0.5em;
    border: 0.15em solid var(--main-grey-opaque);
    border-radius: 0.4em;
}

.home-container .nav-bar {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0 0.7em 0;
    background-color: white;
    gap: 1em;
}

.nav-bar button {
    border: none;
    background-color: inherit;
    color: var(--main-grey);
    font-size: 1.5em;
    padding: 0 0 0.2em;
}

.nav-bar button[active="true"] {
    border-bottom: 0.2em solid var(--main-color);
}

.nav-bar button[active="false"] {
    border-bottom: 0.2em solid transparent;
}

.nav-bar button:hover {
    cursor: pointer;
}

.panel-list {
    list-style: none;
    padding: 0;
}

.card {
    padding: 0.6em 0;
    border-bottom: 1px solid var(--main-grey);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 9.6em;
    justify-content: center;
    align-items: center;
}

.preview-image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 0.8em;
}
