.home-page {
    display: flex;
    margin-top: 2.2em;
    align-items: center;
    flex-direction: column;
}

.home-container {
    width: 800px;
    height: 100vh;
    background-color: rgb(197, 155, 236);
    padding: 0 0.5em;
}

.home-container .nav-bar {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0 0.7em 0;
    background-color: white;
    gap: 1em;
}

.nav-bar button {
    border: none;
    background-color: inherit;
    color: var(--main-grey);
    font-size: 1.5em;
    padding: 0;
}
