#auth-nav .logout-button {
    padding: 0.6em 0.3em;
    background-color: inherit;
    border: 1px solid var(--main-grey);
}

#auth-nav .logout-button:hover {
    color: var(--main-color);
    background-color: white;
}
