#form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#form-container {
    width: 28em;
    padding: 0.3em;

    border: 0.15em solid var(--main-grey-opaque);
    border-radius: 0.4em;
}

#login-form {
    display: flex;
    height: 20em;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: column;
}

.row > label {
    font-weight:700;
}
