.group-page {
    display: grid;
    grid-template-columns: 24em auto;
    grid-template-rows: 16em min-content auto;
    padding: 1em;
    max-width: 60em;
    min-width: 40em;
    gap: 0.8em;
    min-height: 33em;
    box-shadow: var(--heavy-box-shadow);
    border-radius: var(--border-radius);
}

.group-page .preview-image-cell {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.group-page .preview-image-container {
    max-height: 16em;
    max-width: 30em;
    margin: auto auto auto 0;
}

.group-page .header-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 0.20em;
}

.group-page .header-info h1 {
    margin: 0 0 0.2em;
}

.group-page .header-info p {
    margin: 0;
}

.group-page .header-info .organizer-name {
    color: var(--main-color);
    font-weight: bold;
}

.group-page .nav-bar {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 0 0 0.6em;
    border-bottom: 0.1em solid var(--light-grey-opaque);
}

.group-page .nav-bar a {
    text-decoration: none;
    color: var(--main-grey);
    font-size: 1.5em;
}

.group-page .nav-bar a:hover {
    cursor: pointer;
}

.group-page .nav-bar a[active="true"] {
    border-bottom: 0.2em solid var(--main-color);
}

.group-page .nav-bar a[active="false"] {
    border-bottom: 0.2em solid transparent;
}

.group-page .content {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
