nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: auto;

    background-color: var(--banner-background-color);
    padding: 10px;
}

#masthead {
    cursor: pointer;
}

#nav-links {
    display: flex;
    align-items: center;
}

nav a {
    color: var(--main-text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--main-color);
}

#nav-links a, #nav-links button {
    margin: 0px 10px;
}

.nav-item {
    margin: 50px;
}
