nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 3.5em;
    width: auto;

    background-color: var(--header-background-color);
    padding: 10px;
}

a:hover {
    color: var(--main-color);
}

#nav-links > * {
    padding: 10px;
}
